@model  MovieHub.ViewModels.UpcomingMoviesViewModel

@{
    ViewBag.Title = Model.PageHeading;

}

<main>
    <h2>@Model.PageHeading</h2>

    <br/>
        @foreach (var movie in Model.UpcomingMovies)
        {

           

        <div class="outer-wrapper">
            <div class="movie-name">
                @movie.MovieName
            </div>
            <div class="date-info-wrapper">
                <div class="date">
                    <div class="month">
                        @movie.ReleaseDate.ToString("MMM").ToUpper()
                    </div>
                    <div class="day">
                        @movie.ReleaseDate.ToString("d ")
                    </div>
                </div>
                <div class="movie-details">

                    <div class="movie-info-and-btn-container">
                        <div>
                            <div class="movie-userName">
                                @movie.AppUser.Name
                            </div>
                            <div class="movie-genre">
                                @movie.MovieGenre.Name
                            </div>
                        </div>
                        @if (Model.ShowActions)
                        {
                    <div class="btns-container">

                        @if (Model.MyFollowers.Contains(movie.AppUserId))
                        {
                            <button data-userId=@movie.AppUserId class="js-toggle-following btn-link">Following</button>
                        }
                        else
                        {
                            <button data-userId=@movie.AppUserId class="js-toggle-following btn-link">Follow User</button>
                        }

                        @if (Model.MoviesIdIamGoing.Contains(movie.Id))
                        {
                            <button data-upcomingMovieId=@movie.Id class="going js-toggle-attendance btn btn-sm btn-primary">Going</button>
                        }
                        else
                        {
                            <button data-upcomingMovieId=@movie.Id class="js-toggle-attendance btn btn-sm btn-default">Are you going?</button>

                        }
                    </div>
                        }
                    </div>
                </div>
            </div>
   
        </div>
        }
</main>

@section scripts
{
    <script>
        $(document).ready(function () {

            $('.js-toggle-attendance').on('click', function (e) {
                let button = $(e.target);
                let btn = e.target;

                $.post("/api/attendances", { upcomingMovieId: button.attr('data-upcomingMovieId') })
                    .done(function () {

                        if (btn.textContent == 'Are you going?') {
                            btn.textContent = 'Going';
                            btn.classList.remove('btn-default');
                            btn.classList.add('btn-primary');

                        } else {
                            btn.textContent = 'Are you going?';
                            btn.classList.remove('btn-primary');
                            btn.classList.add('btn-default');
                        }

                    }).fail(function (m) { alert(m.responseText) });
            });

            $('.js-toggle-following').on('click', function (e) {
                let btn = e.target;

                $.post("/api/followingApi", { FolloweeId: btn.dataset.userid })
                    .done(() => btn.textContent = btn.textContent == 'Following' ? 'Follow User' : 'Following')
                    .fail(m => alert(m.responseText));
            });
        });
    </script>
}