@model MovieHub.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Attending";
}

<main>
    <h2>Attending</h2>

    <br />
    @foreach (var movie in Model.UpcomingMovies)
    {
        <div class="wrapper">
            <div class="date">
                <div class="month">
                    @movie.ReleaseDate.ToString("MMMM")
                </div>
                <div class="day">
                    @movie.ReleaseDate.ToString("d ")
                </div>
            </div>
            <div class="movie-details">
                <div class="movie-name">
                    @movie.MovieName
                </div>
                <div class="movie-info-and-btn-container">
                    <div>
                        <div class="movie-userName">
                            @movie.AppUser.Name
                        </div>
                        <div class="movie-genre">
                            @movie.MovieGenre.Name
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</main>