
@model IEnumerable<MovieHub.Models.UpcomingMovie>

@{
    ViewBag.Title = "My Upcoming Movies";
}

<h2>My Upcoming Movies</h2>
<br/>
<main>

    @foreach (var movie in Model)
    {
        <div class="outer-wrapper">

            <div class="date-info-wrapper">
                <div class="date">
                    <div class="month">
                        @movie.ReleaseDate.ToString("MMM").ToUpper()
                    </div>
                    <div class="day">
                        @movie.ReleaseDate.ToString("d ")
                    </div>
                </div>
                <div class="movie-details">

                    <div class="movie-info-and-btn-container">
                        <div>
                            <p class="movie-name"> @movie.MovieName</p>
                            <p class="movie-genre"> @movie.MovieGenre.Name </p>
                            <div class="edit-my-upcomingMovies-btn">
                                <a href="@Url.Action("Edit","UpcomingMovies", new {id = movie.Id})" class="btn btn-link">Edit</a>
                                <a href="#" class="btn btn-link js-cancel-upcoming-movie" data-movieid="@movie.Id">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</main>

@section scripts
{
<script>

    window.addEventListener('DOMContentLoaded', function () {

        let cancelBtn = document.querySelectorAll('.js-cancel-upcoming-movie');
        cancelBtn.forEach(btn => {
            btn.addEventListener('click', (e) => {
                e.preventDefault();
                if (confirm('Are you sure you want to cancel this Movie?')) {
                    fetch(`/api/UpcomingMoviesApi/${btn.dataset.movieid}`, { method: 'DELETE' })
                        .then(res => {
                            console.log(res);
                            document.querySelector
                            btn.style.opacity = 0;
                        })
                        .catch(err => console.log(err));
                }
            })
        })

    })

</script>
}