@model IEnumerable<MovieHub.Models.UpcomingMovie>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <br/>
        @foreach (var movie in Model)
        {
        <div class="wrapper">
            <div class="date">
                <div class="month">
                    @movie.ReleaseDate.ToString("MMMM")
                </div>
                <div class="day">
                    @movie.ReleaseDate.ToString("d ")
                </div>
            </div>
            <div class="movie-details">
                <div class="movie-name">
                    @movie.MovieName
                </div>
                <div class="movie-info-and-btn-container">
                    <div>
                        <div class="movie-director">
                            @movie.Director
                        </div>
                        <div class="movie-runningTime">
                            @movie.RunningTime
                        </div>
                    </div>
                    <button data-upcomingMovieId=@movie.Id class="js-toggle-attendance btn btn-sm btn-default">Are you going?</button>
                </div>
            </div>

        </div>
        }
</main>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-toggle-attendance').on('click', function (e) {

                let button = $(e.target);

                $.post("/api/attendances", { upcomingMovieId : button.attr('data-upcomingMovieId')})
                    .done(function () {
                        button.removeClass('btn-default');
                        button.addClass('btn-primary');
                        button.text = "I'm going";

                    }).fail(function () { alert("something failed!") });
            });
        })
    </script>
}