@model  MovieHub.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<main>
    <br/>
        @foreach (var movie in Model.UpcomingMovies)
        {
        <div class="wrapper">
            <div class="date">
                <div class="month">
                    @movie.ReleaseDate.ToString("MMMM")
                </div>
                <div class="day">
                    @movie.ReleaseDate.ToString("d ")
                </div>
            </div>
            <div class="movie-details">
                <div class="movie-name">
                    @movie.MovieName
                </div>
                <div class="movie-info-and-btn-container">
                    <div>
                        <div class="movie-director">
                            @movie.AppUser.Name
                        </div>
                        <div class="movie-runningTime">
                            @movie.RunningTime
                        </div>
                    </div>

                    @if (Model.ShowActions)
                    {
                        <div class="btns-container">
                            <button data-userId=@movie.AppUserId class="js-toggle-following btn-link">Follow User</button>
                            <button data-upcomingMovieId=@movie.Id class="js-toggle-attendance btn btn-sm btn-default">Are you going?</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        }
</main>

@section scripts
{
    <script>
        $(document).ready(function () {

            $('.js-toggle-attendance').on('click', function (e) {
                let button = $(e.target);

                $.post("/api/attendances", { upcomingMovieId : button.attr('data-upcomingMovieId')})
                    .done(function () {
                        button.removeClass('btn-default');
                        button.addClass('btn-primary');
                        button.text("I'm going");

                    }).fail(function () { alert("something failed!") });
            });

            $('.js-toggle-following').on('click', function (e) {
                let button = $(e.target);

                $.post("/api/following", { FolloweeId: button.attr('data-userId') })
                    .done(function () {
                        button.text("Following");
                    }).fail(function () {alert("Something faild!")})
            })
        })
    </script>
}